@layout('layouts/main')
@set('title', 'Accueil')

@section('body')
<main  class="m-0 h-full flex justify-center items-center">
  <button class="bg-gray-300 rounded px-5 py-2 "><a href="http://localhost:3333/discord/redirect" class="flex gap-3 items-center">Se connecter<i class="fa-brands fa-discord"></i></a></button>
</main>
@end


